/**
 * index.scss
 * - Add any styles you want here!
 */

@import "mixins";
@import "modules/header";
@import "modules/main";
@import "modules/footer";

$mainFont: 'Open Sans', sans-serif;

$dark: #1c1c1c;
$white: #fff;

$normal: 400;
$bold: 700;

body {
	font-family: $mainFont;
	line-height: 1.2em;
	letter-spacing: 0.05em;
  background: #f5f5f5;
}//body